[Unit]
Description=Analog Server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=logger
Group=logger
WorkingDirectory=/home/logger/datalogger/analogserver
ExecStart=/home/logger/datalogger/analogserver/analogserver.sh
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal
SyslogIdentifier=analogserver

[Install]
WantedBy=multi-user.target
